
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.orig
obj/
[Rr]elease*/
_ReSharper*/
BuildOutput/
QA/
[Tt]est[Rr]esult*
Configuration/Local.yml
Artefacts
*.ncrunchproject*
*.ncrunchsolution*
test-output
.metadata
StyleCop.Cache
Wiggle.BMF/Backup
Wiggle.BMF/_UpgradeReport_Files/
Wiggle.BMF/UpgradeLog.XML
Wiggle.BMF/UpgradeLog2.XML
Wiggle.BMF/UpgradeLog3.XML
*.psess
*.vsp
*nCrunchTemp*
Wiggle.BMF/Web_deploy/*
Wiggle.BMF/Wiggle.BMF.Web/Download/*

*/UpgradeLog*.htm
source/Nucumber.Web/Nucumber.Web/Nucumber.Web.Publish.xml