@model dynamic

@{
    ViewBag.Title = "title";
}

<h2>This is an example page.</h2>
<div><a href="/features/">Features index</a></div>
<div><a href="/features/details/example.feature">Example feature details</a></div>